language: c
# Travis comes with an older gcc by default, this let's us build with c11
before_install:
# We need this line to have g++4.8 available in apt
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq
install:
  - sudo apt-get install -qq gcc-4.9
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-4.9 90
compiler: 
  - gcc
  - clang

before_script:
  - cmake . 

script: make
